/* Colors */
:root {
  --background: rgb(41, 40, 43); /* Jaguar */
  --light-background: rgb(48, 48, 48); /* Night Rider */
  --text: white;

  --first: rgb(189, 250, 20); /* Electric Lime */
  --second: rgb(255, 95, 31); /* Pumpkin */
  --third: orange;

  --first-alt: rgb(196, 30, 58); /* Cardinal */
  --second-alt: rgb(253, 181, 21); /* Dark Tangerine */
  --third-alt: rgb(31, 117, 254); /* Dodger Blue */

  --links: rgb(85, 182, 183); /* Puerto Rico */
  --active-links: rgb(101, 205, 207); /* Downy */

  --buttons: rgb(233, 19, 169); /* Shocking Pink */
}


/* Base styles */
html {
  box-sizing: border-box;
  font-size: 62.5%; /* 1rem = 10px for easy rem calculations */
  background-color: var(--background);
}

body {
  color: var(--first);
  font-size: 1.8rem; /* 18px */
  font-weight: 300;
  letter-spacing: .01em;
  line-height: 1.6;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

/* Button styles */
.button,
button,
input[type='button'],
input[type='submit'] {
  background-color: var(--buttons);
  border: 0.1rem solid var(--buttons);
  border-radius: .4rem;
  color: #fff;
  display: inline-block;
  font-size: 2.1rem;
  font-weight: 700;
  height: 3.8rem;
  letter-spacing: .1rem;
  line-height: 3.8rem;
  padding: 0 3.0rem;
  text-align: center;
  white-space: nowrap;
}

.button.button-outline,
button.button-outline,
input[type='button'].button-outline,
input[type='reset'].button-outline,
input[type='submit'].button-outline {
  background-color: transparent;
  color: var(--buttons);
}

/* Collapsible content */
.collapsible-content {
  display: none;
  padding: 0 18px;
  overflow: hidden;
}

.collapsible-header {
  cursor: pointer;
  font-weight: bold;
}

.collapsible-header:hover {
  color: var(--active-links);
}

/* Form elements */
input[type='email'],
input[type='number'],
input[type='password'],
input[type='search'],
input[type='tel'],
input[type='text'],
input[type='url'],
textarea,
select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-color: transparent;
  border: 0.1rem solid var(--first);
  border-radius: .4rem;
  box-shadow: none;
  box-sizing: inherit;
  height: 3.8rem;
  padding: .6rem 1.0rem;
  width: 100%;
  color: var(--buttons);
}

input[type='email']:focus,
input[type='number']:focus,
input[type='password']:focus,
input[type='search']:focus,
input[type='tel']:focus,
input[type='text']:focus,
input[type='url']:focus,
textarea:focus,
select:focus {
  border-color: var(--buttons);
  outline: 0;
}

/* Images */
img {
    display:inline-block;
    height: 1em;
}

/* Links */
a {
  color: var(--links);
}

a:focus, a:hover {
  color: var(--active-links);
}

/* Headers */
h1 {
  padding: 0;
  color: var(--background);
  background-color: var(--first);
  text-align: center;
  font-size: 2.6rem; /* 26px */
}

h2 {
  padding-left: 0.5em;
  margin-left: 1.5em;
  margin-top: 2em;
  padding-right: 0.5em;
  margin-right: 1.5em;
  font-size: 2.4rem; /* 24px */
}

h3 {
  padding-left: 2em;
  padding-right: 2em;
  color: var(--second);
  font-size: 2.2rem; /* 22px */
  margin-left: 2em;
  margin-right: 2em;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

h4 {
  padding-left: 1.5em;
  margin-left: 4em;
  padding-right: 2em;
  margin-right: 4em;
  font-size: 2rem; /* 20px */
  color: var(--third);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

span {
  text-align: right;
}

/* Content */
.content {
  padding-left: 2em;
  padding-right: 2em;
  text-align: justify;
  color: var(--text);
  margin-left: 4em;
  margin-right: 4em;
}

ul {
  margin-bottom: 2em;
}

.detail {
  color: var(--third);
  font-weight: bold;
}

.detail {
  color: var(--third);
  font-weight: bold;
  pointer-events: none;
}

/* Footer */
footer {
  text-align: center;
  font-size: 2.4rem; /* 24px */
  padding: 3px;
  padding-left: 10px;
  background-color: var(--light-background);
  color: var(--text);
  margin-top: auto;
}

footer a {
  padding-left: 10px;
}

/* Navigation */
.navbar {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: var(--light-background);
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}

li {
  float: left;
}

li::marker {
  color: var(--second);
}

.navbar li a {
  display: block;
  text-align: center;
  padding: 1px 36px;
  text-decoration: none;
}

.navbar .active {
  background-color: var(--first);
  color: var(--light-background);
}

.navbar li a:hover {
  background-color: rgb(0, 0, 0);
  color: var(--active-links);
}

/* Media Queries for Responsive Design */
@media (max-width: 768px) {
  h1 {
    font-size: 2.2rem; /* 22px */
  }

  h2 {
    font-size: 2rem; /* 20px */
    margin-left: 1em;
    margin-right: 1em;
  }

  h3 {
    font-size: 1.8rem; /* 18px */
    margin-left: 1em;
    margin-right: 1em;
  }

  h4 {
    font-size: 1.6rem; /* 16px */
    margin-left: 2em;
    margin-right: 2em;
  }

  .content {
    margin-left: 2em;
    margin-right: 2em;
  }

  body {
    font-size: 1.6rem; /* 16px */
  }

  footer {
    font-size: 2rem; /* 20px */
  }

  li a {
    padding: 1px 18px;
  }
}
