/* Colors */
:root {
  --background: rgb(41, 40, 43); /* Jaguar */
  --light-background: rgb(48, 48, 48); /* Night Rider */
  --text: white;

  --first: rgb(189, 250, 20); /* Electric Lime */
  --second: rgb(255, 95, 31); /* Pumpkin */
  --third: orange;

  --first-alt: rgb(196, 30, 58); /* Cardinal */
  --second-alt: rgb(253, 181, 21); /* Dark Tangerine */
  --third-alt: rgb(31, 117, 254); /* Dodger Blue */

  --links: rgb(85, 182, 183); /* Puerto Rico */
  --active-links: rgb(101, 205, 207); /* Downy */

  --buttons: rgb(233, 19, 169); /* Shocking Pink */
}

/* Base styles */
html {
  box-sizing: border-box;
  font-size: 62.5%; /* 1rem = 10px */
  background-color: var(--background);
}

body {
  font-family: 'Roboto', sans-serif;
  color: var(--first);
  font-size: 1.8rem; /* 18px */
  font-weight: 300;
  letter-spacing: 0.01em;
  line-height: 1.6;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  padding: 10px;
}

/* Container and Layout */
.container {
  max-width: 1350px;
  margin: 0 auto;
  padding: 0 2rem;
}

.section {
  margin-bottom: 5;
}

.courses {
    display: none;
}

.courses.active {
    display: block;
}


/* Content with reduced margins for desktop */
.content {
  /* padding-left: 1.5em;
  padding-right: 1.5em; */
  text-align: justify;
  color: var(--text);
  /* margin-left: 1.5em;
  margin-right: 1.5em; */
}

@media (min-width: 992px) {
  .content {
    margin-left: 1.5em;  /* Reduced margins for large screens */
    margin-right: 1.5em;
  }
}

/* Content margins for desktop */
@media (min-width: 1769px) {
  .content {
    margin-left: 1.5em;
    margin-right: 1.5em;
  }
}

/* Typography */
h1, h2, h3, h4 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  letter-spacing: 0.05em;
}

h1 {
  padding: 1rem 2rem;
  background-color: var(--first);
  color: var(--background);
  text-align: center;
  font-size: 2.6rem;
  border-radius: 0.5rem;
}

h2 {
  font-size: 2.4rem;
  color: var(--first);
}

h3 {
  font-size: 2.2rem;
  color: var(--second);
  display: flex;
  justify-content: space-between;
  align-items: center;
}


h4 {
  font-size: 2rem;
  color: var(--third);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

p, ul {
  color: var(--text);
  padding-left: 0;  /* Removes the padding */
  margin-left: 0;   /* Removes the margin */

  padding-right: 0;  /* Removes the padding */
  margin-right: 0;   /* Removes the margin */
}

/* Button styles */
.button,
button,
input[type='button'],
input[type='submit'] {
  background-color: var(--light-background);
  border: 0.1rem solid var(--buttons);
  border-radius: 0.5rem;
  color: var(--text);
  font-size: 2.1rem;
  font-weight: 700;
  letter-spacing: 0.1rem;
  padding: 0 3rem;
  text-align: center;
  white-space: nowrap;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.button:hover, button:hover, button.active:hover {
  background-color: rgb(0, 0, 0);
  color: var(--buttons);
  transform: scale(1.05);
}

button.active {
    background-color: var(--buttons);
    color: var(--text);
}


/* Links */
a {
  color: var(--links);
  text-decoration: none;
  transition: color 0.3s ease;
}

a:hover {
  color: var(--active-links);
}

/* Collapsible content */
.collapsible-content {
  display: none;
  overflow: hidden;
}

.collapsible-header {
  cursor: pointer;
  font-weight: bold;
}

.collapsible-header:hover {
  color: var(--active-links);
}

/* Card Design */
.card {
  background-color: var(--light-background);
  border-radius: 0.5rem;
  padding: 2rem;
  margin-bottom: 2rem;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.card-title {
  color: var(--first);
}

.card-text {
  color: var(--text);
}

/* Footer */
footer {
  text-align: center;
  font-size: 2.4rem; /* 24px */
  padding: 3px;
  padding-left: 10px;
  background-color: var(--light-background);
  color: var(--text);
  margin-top: auto;
}

footer a {
  margin: 0 1rem;
  font-size: 2.4rem;
  transition: transform 0.3s ease;
}

footer i:hover {
    transform: scale(1.05);
}

/* Navigation */
.navbar {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background: rgba(48, 48, 48, 0.8);
  backdrop-filter: blur(10px);
  position: sticky;
  top: 0;
}

.navbar li {
  float: left;
}

.navbar li a {
  display: block;
  text-align: center;
  padding: 1px 36px;
  text-decoration: none;
  color: var(--text);
}

.navbar .active {
  background-color: var(--first);
  color: var(--background);
}

.navbar li a:hover {
  background-color: rgb(0, 0, 0);
  color: var(--active-links);
}

li::marker {
  color: var(--second);
}

/* Button */

.button-container {
    margin-bottom: 20px;
}

button {
    font-size: 1rem;
    padding: 8px 12px;
    margin-right: 7px;
    cursor: pointer;
}

.experience-section {
    display: none;
    margin-bottom: 20px;
}

/* Images */
img, .button, .card {
  border-radius: 0.5rem;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}

/* Media Queries for Responsive Design */
@media (max-width: 768px) {
  .content {
    margin-left: 1em;
    margin-right: 1em;
  }

  body {
    font-size: 1.6rem;
  }

  h1 {
    font-size: 2.2rem;
  }

  h2 {
    font-size: 2rem;
    margin-left: 0.5em;
    margin-right: 0.5em;
  }

  h3 {
    font-size: 1.8rem;
  }

  h4 {
    font-size: 1.6rem;
  }

  footer {
    font-size: 1.8rem;
    flex-direction: column;
  }

  footer a {
    margin-bottom: 1rem;
  }

  .navbar li {
    float: none;
    text-align: center;
    padding: 0.5rem;
  }

  .navbar li a {
    padding: 0.5rem;
  }

  .button {
    padding: 1rem 2rem;
    font-size: 1.8rem;
  }
}

div {
    margin-bottom: 5rem;
}