html {
  box-sizing: border-box;
  font-size: 62.5%;
  background-color: #29282b;
}

.button,
button,
input[type='button'],
input[type='submit'] {
  background-color: #e913a9;
  border: 0.1rem solid #e913a9;
  border-radius: .4rem;
  color: #fff;
  display: inline-block;
  font-size: 2.1rem;
  font-weight: 700;
  height: 3.8rem;
  letter-spacing: .1rem;
  line-height: 3.8rem;
  padding: 0 3.0rem;
  text-align: center;
  white-space: nowrap;
}

.button.button-outline,
button.button-outline,
input[type='button'].button-outline,
input[type='reset'].button-outline,
input[type='submit'].button-outline {
  background-color: transparent;
  color: #e913a9;
}

.collapsible-content {
    display: none;
    padding: 0 18px;
    overflow: hidden;
}

.collapsible-header {
    cursor: pointer;
    font-weight: bold;
}


input[type='email'],
input[type='number'],
input[type='password'],
input[type='search'],
input[type='tel'],
input[type='text'],
input[type='url'],
textarea,
select {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background-color: transparent;
  border: 0.1rem solid #bdfa14;
  border-radius: .4rem;
  box-shadow: none;
  box-sizing: inherit;
  height: 3.8rem;
  padding: .6rem 1.0rem;
  width: 100%;
  color: #e913a9;
}

input[type='email']:focus,
input[type='number']:focus,
input[type='password']:focus,
input[type='search']:focus,
input[type='tel']:focus,
input[type='text']:focus,
input[type='url']:focus,
textarea:focus,
select:focus {
  border-color: #e913a9;
  outline: 0;
}

a {
    color: #55b6b7;
}

a:focus, a:hover {
    color: #65cdcf;
}

h1 {
    padding: 0em;
	color: rgba(0, 0, 0, 0.795);
	background-color: #bdfa14;
	text-align: center;
	font-size: 26px;
}

h2 {
    padding-left: 0.5em;
    margin-left: 1.5em;
    margin-top: 1em;
    padding-right: 0.5em;
    margin-right: 1.5em;
	font-size: 24px;
}

h3 {
    padding-left: 2em;
    padding-right: 2em;
    color: rgb(255, 95, 31);
	font-size: 22px;
	margin-left: 2em;
	margin-right: 2em;
}

h4 {
    padding-left: 1.5em;
	margin-left: 4em;
	padding-right: 2em;
	margin-right: 4em;
	font-size: 20px;
	color:orange;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.content {
	padding-left: 2em;
	padding-right: 2em;
	text-align: justify;
	color: white;
	margin-left: 4em;
	margin-right: 4em;
}

body {
  color: #bdfa14;
  font-size: 18px;
  font-weight: 300;
  letter-spacing: .01em;
  line-height: 1.6;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

span {
    text-align: center;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(48, 48, 48);
    position: -webkit-sticky;
    position: sticky;
    top: 0;
}

li {
    float: left;
}

li a {
    display: block;
    text-align: center;
    padding: 1px 36px;
    text-decoration: none;
}

li a:hover {
    background-color: rgb(0, 0, 0);
}

.active header {
    background-color: #bdfa14;
    color : rgb(0, 0, 0)
}

footer {
    text-align: center;
    font-size: 24px;
    padding: 3px;
    padding-left: 10px;
    background-color: rgb(48, 48, 48);
    color: white;
    margin-top: auto;
}

footer a {
    padding-left: 10px;
}

